#DIA 10/11

se Inicio Con el desarrollo de la aplicacion, se finalizo con el diseño y con la creacion de el metodo crear , para poder añadir gastos a la memoria, ahra esta tarea se encuentra en fase de testeo.

#DIA 11/11

Se completo el crud en memoria , se corrieron unit test sobre las funciones CREAR , MODIFICAR Y ELIMINAR  de la aplicacion, se empezo con las tareas de diseño.
