@model IEnumerable<GastosViewModel>
@{
		ViewBag.Title = "Home Page";

	}




<div class="container">
     <h1 class="tittle">
         Gastos
     </h1>
    <div class="box-container">
   
   @foreach(var gasto in Model){

        <div class="box">
         <img src="img/supermercado.png" alt="icono supermercado">
         <h3>@gasto.Categoria </h3>
         <p><b>$@gasto.Monto</b></p>
         <p class="Descripcion-box">
         @gasto.Descripcion  
         </p>
         <div class="btn-control">
         <a asp-action="Edit" asp-route-id="@gasto.Id" class="btn">Modificar</a>
         <a asp-action="Delete" asp-route-id="@gasto.Id" class="btn">Eliminar</a>
         </div>
        </div>

   }


 
